body {
  margin: 0;
  font-family: "MarkForMC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
  overflow: hidden;
}

.ant-table-wrapper.navigatable {
  .ant-table-body {
    .ant-table-row {
      cursor: pointer;
    }
  }
}
